.footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 24px 0px;
  background-color: #f3ede0;
  color: #8b5e3c;
  .socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .links {
      color: #8b5e3c;
      font-size: 1.2rem;
    }
  }
  .copyrights {
    .text {
      margin: 0;
    }
  }
}
