.page {
  padding: 50px 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;

  .blogContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
  }
  .placeholder {
    visibility: hidden;
    width: 36vw;
  }
  .titleContainer {
    // background-color: red;
    width: 72vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      font-size: 4em;
      color: #171717;
    }
    .tagline {
      font-size: 1em;
      color: #171717;
    }
  }
}
@media (max-width: 799px) {
  .page {
    padding: 20px 30px;
  }
  .placeholder {
    width: 100vw;
    height: auto;
  }
}
